<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="./css/aboutStyles.css">
    <title>About Us</title>
</head>
<body>
    <img src="/img/Batteribrueder.svg" alt="bb-logo" class="bbl">
    <div class="header"><h1>Batterie Brüder</h1>
        <p>Dies ist der Batterien Shop von den Batterie Brüdern.</p>
        <p>Wir stellen seit 2022 die tollsten Batterien her und das in 3 Varianten.</p>
        <a href="/">
            <button>Zurück zur Startseite</button>
        </a>
        </div>
    <hr/>

    <div class="container">
    <div class="flo-box">
        <h2>Florian "Batterie" Regnery</h2>
        <p>Co-Funder aller Batterien weltweit.</p>
        <p><a href="mailto:batteriebruderflo@mail.de">batteriebruderflo@mail.de</a></p>
        <img src="/img/BB1.JPG" alt="batterie nummer 1" class="flo">
        
    </div>

    <div>
        <h2>Marko "Brüder" Kalaburda</h2>
        <p>Die Initialien stehen für maximales Kauderwelsch.</p>
        <p><a href="mailto:batteriebrudermarko@mail.de">batteriebrudermarko@mail.de</a></p>
        <img src="/img/BB2.JPG" alt="batterie nummer 2" class="mtok">
        
    </div>

    </div>







</body>
</html>