<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="./css/faq.css">
    <title>Impressum</title>
</head>
<body>
    <img src="../../images/Batteribrueder.svg" alt="bb-logo" class="bbl">
    <h1>Battery Brothers</h1>
    <p>Dies ist der Batterien Shop von den Battery Brothers.</p>
    <p>Wir stellen seit 2022 die tollsten Batterien her und das in 3 Varianten.</p>
    <hr/>
    <div>
        <h1>FAQ</h1>
        <h3>LERNE UNS KENNEN!</h3>
        <div >
            <details>
                <summary><em>Wann habt ihr euch entschieden Batterien zu verkaufen?</em> </summary>
                <p>Als wir gesehen haben, dass man mit einem Geschichtsstudium nichts verdient.</p>
            </details>

            <details>
                <summary><em> seid ihr besser als die anderen?</em> </summary>
                <p>Weil wir besser als die anderen sind.</p>
            </details>

            <details>
                <summary><em>Wie viele Batterien gibt es auf der Welt? </em></summary>
                <p>65.368 t Batterien wurden im Jahr 2020 in Deutschland produziert. Das ist viel.</p>
            </details>
            <details>
                <summary><em>Hat man noch Zeit für die technische Hochschule, obwohl man Unternehmer ist? </em></summary>
                <p>Diese Frage ist sehr persönlich, dahör möchte ich mich meinem Vorredner anschliessen und vielleicht sagen.</p>
            </details>
        </div>
    </div>

    
</body>
</html>