<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="./css/help.css">
    <title>Impressum</title>
</head>
<body>
    <img src="/img/Batteribrueder.svg" alt="bb-logo" class="bbl">
    <div class="header"><h1>Batterie Brüder</h1>
        <p>Dies ist der Batterien Shop von den Batterie Brüdern.</p>
        <p>Wir stellen seit 2022 die tollsten Batterien her und das in 3 Varianten.</p>
        <a href="/">
            <button>Zurück zur Startseite</button>
        </a>
        </div>
    <hr/>
    
    <h1>Wir sind für Sie da</h1>
    <p>Sie erreicheen uns unter folgenden Kontaktdaten.</p>

    <h2>Kontaktdaten</h2>    
    <p> <b>T:</b>+49 778-239-0270 <br>   
        <b>E:</b><a id="email">batteriebrueder@mail.com</a>
    </p>  

    <p>Dringende Nachrichten bitte hier eingeben: </p>
    <textarea name="message" placeholder="Text hier eingeben"cols="30" rows="10"></textarea><br>
    <a href="/help">
        <button name="submit">Submit</button>
    </a>

    
    <script>
        if(document.getElementById('email')){
            window.addEventListener('load', () =>{
                document.getElementById('email').href = window.atob('bWFpbHRvOmJhdHRlcmllYnJ1ZWRlckBtYWlsLmRl')
            })
        }
    </script>
</body>
</html>