<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="./css/help.css">
    <title>Impressum</title>
</head>
<body>
    <img src="/img/Batteribrueder.svg" alt="bb-logo" class="bbl">
    <div class="header"><h1>Battery Brothers</h1>
        <p>Dies ist der Batterien Shop von den Battery Brothers.</p>
        <p>Wir stellen seit 2022 die tollsten Batterien her und das in 3 Varianten.</p>
        <a href="/">
            <button>Zurück zur Startseite</button>
        </a>
        </div>
    <hr/>
    
    <h1>Wir sind für Sie da</h1>
    <p>Sie erreicheen uns unter folgenden Kontaktdaten.</p>

    <h2>Kontaktdaten</h2>    
    <p> <b>T:</b>+00 0000 00000 <br>   
        <b>E:</b>brueder@mail.com </p>  

    <p>Dringende Nachrichten bitte hier eingeben: </p>
    <textarea name="message" placeholder="Text hier eingeben"cols="30" rows="10"></textarea><br>
    <a href="/help">
        <button name="submit">Submit</button>
    </a>

    
</body>
</html>