<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/honeypot.css">
  <title>You are a Bot</title>
</head>

<body>
  <img src="/img/Batteribrueder.svg" alt="bb-logo" class="bbl">
  <h1>Batterie Brüder</h1>

  <h1>Unser System denkt Sie sind ein Bot!</h1>
  <p>Hilfe ich bin kein Bot: <a href="mailto:batteriebruedersupport@mail.de">batteriebruedersupport@mail.de</a></p>

</body>
</html>

