<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="./css/impressumStyles.css">
    <title>Impressum</title>
</head>
<body>
    <img src="/img/Batteribrueder.svg" alt="bb-logo" class="bbl">
    <div class="header"><h1>Battery Brothers</h1>
        <p>Dies ist der Batterien Shop von den Battery Brothers.</p>
        <p>Wir stellen seit 2022 die tollsten Batterien her und das in 3 Varianten.</p>
        <a href="/">
            <button>Zurück zur Startseite</button>
        </a>
        </div>
    <hr/>

    
    <h1>Impressum</h1>
    <h2>Batteribrueder GmbH & Co KG</h2>
    <p> Eine Straße 1 <br>
        12345 Stadt <br>    
        Land</p>

    <h2>Kontaktdaten</h2>    
    <p> <b>T:</b>+00 0000 00000 <br>   
        <b>E:</b>brueder@mail.com </p>    

    <h2>Rechtliche Hinweise</h2>
    <h3>Haftung</h3>
    <p> Alles ist in einem studentischen Rahmen benutzt worden und keine Tiere sind zu Schaden gekommen.</p>

    <h2>Inhaltverantwortliche</h2>
    <li>Florian "Batterie" Regnery</li>
    <li>Marko "Brothers" Kalaburda</li>
        

    
</body>
</html>