<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Batterie Brüder</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <img src="/img/Batteribrueder.svg" alt="bb-logo" class="bb-logo">
  <h1>Battery Brothers</h1>
  <p>Dies ist der Batterien Shop von den Battery Brothers.</p>
  <p>Wir stellen seit 2022 die tollsten Batterien her und das in 3 Varianten.</p>

<hr/>

<div class="bilder">
  <div class="artikel">
    <p>Batterie #1</p>
    <img src="/img/Batterie1.svg" alt="batterie nummer 1">
    <a href="/" class="cta">In den Warenkorb</a>
  </div>
  <div class="artikel">
    <p>Batterie #2</p>
    <img src="/img/Batterie2.svg" alt="batterie nummer 2">
    <a href="/">In den Warenkorb</a>
  </div>
  <div class="artikel">
    <p>Batterie #3</p>
    <img src="/img/Batterie3.svg" alt="batterie nummer 3">
    <a href="/">In den Warenkorb</a>
  </div>
</div>

<hr/>

<h3>Login & Registration</h3>
<div class="container">
  <div class="login-form">
    <form>
      <label for="email">Email:</label><br/>
      <input type="text" id="email" name="email"><br/>
      <label for="pw">Passwort:</label><br/>
      <input type="text" id="pw" name="pw"><br/>
      <input type="submit" value="Login">
    </form>
  </div>
  
  <div class="oder">oder</div>

  <div class="register-link">
    <a href="/">Registrieren</a>
  </div>
</div>

<hr/>
<a href="/" class="big-button">Warenkorb</a>
<hr/>

<div class="footer">
  <a href="impressum.html">Impressum</a>
  <a href="about.html">About</a>
  <a href="versandinfo.html">Versandinfo</a>
  <a href="faq.html">FAQ</a>
  <a href="help.html">Hilfe</a>
</div>
</body>
</html>