<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="./css/versanddinfo.css">
    <title>Impressum</title>
</head>
<body>
    <img src="/img/Batteribrueder.svg" alt="bb-logo" class="bbl">
    <h1>Battery Brothers</h1>
    <p>Dies ist der Batterien Shop von den Battery Brothers.</p>
    <p>Wir stellen seit 2022 die tollsten Batterien her und das in 3 Varianten.</p>
    <a href="index.html">
        <button>Zurück zur Startseite</button>
    </a>
    <hr/>

    <h1>Versandarten</h1>
    <h3>Kostenloser Versand</h3>
    <p>Der Standardversand an eine Lieferadresse innerhalb Deutschlands erfolgt <br><b>Versandlaufzeit</b>: vier Arbeitstag </p>
    <br>
    <h3>Expressversand</h3>
    <p>Nach Fertigstellung durch unsere Produktion erfolgt die Zustellung garantiert am folgenden Arbeitstag. Dies gilt nur inerhalb Deutschland<br><b>Versandlaufzeit</b>: ein Arbeitstag</p>
    <br>
    <h3>Versand ausserhalb Deutschlands noch nicht gewährleistet</h3>

</body>
</html>