.bilder {
  display: flex;
}

h1 {
  margin-top: 2px;
}

.bb-logo {
  width: 120px;
}

.artikel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 0 0;
}

.img {
  margin: 200px;
}

.artikel p {
  margin: 0;
  flex-direction: row;
  align-self: start;
}

.footer a{
  padding: 0 2px 0 2px;
}

.big-button {
  font-size: 34px;
}

.container {
  display: flex;
  align-items: center;
}


.oder {
  padding-left: 50px;
  padding-right: 50px;
}

.register-link{
  font-size: xx-large
}
